<ion-header>

  <ion-navbar color='primary'>
    <ion-title>Teams</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-searchbar placeholder="Search"
                   [(ngModel)]="queryText" (ionInput)="updateTeams()"></ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-group *ngFor="let division of teams">
      <ion-item-divider color="light">{{division.divisionName}}</ion-item-divider>
      <ion-item *ngFor='let team of division.divistionTeams'(click)='itemTapped($event, team)'>
        {{team.name}}
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
